// ==========================================================================
//
// Forms
//
//

div.input {
  width: 100%;
  position: relative;
  clear: both;

    label {
      clear: both;
      display: block;
      font-size: 1em;
      font-family: $main_font;
    }
  }

  input[type=text] {
    border-radius: 0;
    margin: 1.5em 0em 1.5em 0em;
    -webkit-appearance: none;
    text-align: left;
    border: none;
    padding: 15px 20px;
    font-size: 1em;
    display: block; 
    color: darken(#fff, 70%);
    @include calc(width, "100% - 40px");
    background: darken(#fff, 10%);
    font-family: $main_font;
    font-weight: 300;

    &:focus {
      color: #fff;
      outline: 0;
      background: darken(#fff, 70%);
    }        
  }

  input[type=email] {
    border-radius: 0;
    margin: 1.5em 0em 1.5em 0em;
    -webkit-appearance: none;
    text-align: left;
    border: none;
    padding: 15px 20px;
    font-size: 1em;
    display: block; 
    color: darken(#fff, 70%);
    @include calc(width, "100% - 40px");
    background: darken(#fff, 10%);
    font-family: $main_font;
    font-weight: 300;
    @include transition(all, 0.3s, ease-in-out);

    &:focus {
      color: #fff;
      outline: 0;
      background: darken(#fff, 70%);
    }   
  }

  input[type=url] {
    border-radius: 0;
    margin: 1.5em 0em 1.5em 0em;
    -webkit-appearance: none;
    text-align: left;
    border: none;
    padding: 15px 20px;
    font-size: 1em;
    display: block; 
    color: darken(#fff, 70%);
    @include calc(width, "100% - 40px");
    background: darken(#fff, 10%);
    font-family: $main_font;
    font-weight: 300;
    @include transition(all, 0.3s, ease-in-out);

    &:focus {
      color: #fff;
      outline: 0;
      background: darken(#fff, 70%);
    }   
  }

  textarea {
    clear: both;
    border-radius: 0;
    margin: 1.5em 0em 1.5em 0em;
    -webkit-appearance: none;
    text-align: left;
    border: none;
    padding: 20px 20px;
    font-size: 1em;
    display: block;
    line-height: 1.7em;
    float: left;
    resize: none;
    color: darken(#fff, 70%);
    @include calc(width, "100% - 40px");
    background: darken(#fff, 10%);
    font-family: $main_font;
    font-weight: 300;
    @include transition(all, 0.3s, ease-in-out);

    &:focus {
      color: #fff;
      outline: 0;
      background: darken(#fff, 70%);
    }    
  }

  .studio_latitude {
    width: 48%;
    float: left;
  }

  .studio_longitude {
    clear: none;
    margin-left: 4%;
    width: 48%;
    float: left;
  }

  fieldset.half {
    width: 48%;
  }

  fieldset.right {
    margin-left: 4%;
  }


input[type=submit] {
  right: 0;
  top: 0;
  background: darken(#fff, 80%);
  color: #fff;
  display: block;
  margin: 0;
  margin-top: 10px;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 5px 20px 5px 20px;
  border: 0;
  width: 180px;
  line-height: 1em;
  font-size: 1.1em;
  font-family: $main_font;
  font-weight: 300;
  float: right;
  clear: both;
  height: 55px;
  position: relative;

  &:hover {
    background-color: $colour_green;
  }        
}