// ==========================================================================
//
// Layout
//
//

.layout-container {
  display: block;
  margin: 0px auto;
  @include calc(width, "90%");
  max-width: 1200px;
  position: relative;

  @include mq("medium", "max-width") {
    width: 95%;
  }

  @include mq("small", "max-width") {
    width: 85%;
  }

  @include mq("extra-small", "max-width") {
    width: 90%;
  } 
}

.a-block {
  display: block;
  position: relative;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }
}

.layout-hero-one-column-grid {
  float: left; 
  @include calc(width, "25% - 18px");
  margin-right: 24px;

  @include mq("medium", "max-width") {
     @include calc(width, "33.3% - 18px");
  } 

  @include mq("small", "max-width") {
     @include calc(width, "50% - 18px");
  } 

  @include mq("extra-small", "max-width") {
     @include calc(width, "75%");
  } 

  @include mq("super-small", "max-width") {
     @include calc(width, "85%");
  } 
}

.layout-one-column-grid {
  float: left; 
  @include calc(width, "25% - 18px");
  margin-right: 24px;

  @include mq("small", "max-width") {
     @include calc(width, "50% - 25px");
  } 

  @include mq("extra-small", "max-width") {
     @include calc(width, "100%");
  } 
}

.layout-two-column-grid {
  float: left;
   @include calc(width, "50% - 14px");

  @include mq("small", "max-width") {
     @include calc(width, "100%");
  } 
}

.layout-three-column-grid {
  display: block;
  float: left;
  @include calc(width, "75% - 14px");
}

.layout-column-right {
  margin-right: 0px;
  float: right;

  @include mq("small", "max-width") {
     margin-right: 24px;
     float: left;
  } 
}

.layout-clear {
  clear: both;
}

.layout-clear-top {
  margin-top: 130px;
  display: block;

  @include mq("small", "max-width") {
    margin-top: 190px;
  }
}