// ==========================================================================
//
// Layout
//
//

.layout-container {
  display: block;
  margin: 0px auto;
  @include calc(width, "100% - 300px");
  position: relative;
}

.a-block {
  display: block;
  position: relative;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }
}

.layout-one-column-grid {
  float: left; 
  @include calc(width, "25% - 18px");
  margin-right: 24px;
}

.layout-two-column-grid {
  float: right;
   @include calc(width, "50% - 14px");
}

.layout-column-right {
  margin-right: 0px;
}

.layout-project-expanded {
  width: 100%;
  clear: both;
  height: 100%;
  display: none;

  &.active--project--expand {
    display: block;
    @include animation(north--in 1s forwards);
  }
}

.layout-project-pictures {
  width: 100%;
  padding-top: 35px;
  display: block;
  height: 20px;
  clear: both;
}