// ==========================================================================
//
// Layout
//
//

.layout-container {
  display: block;
  margin: 0px auto;
  @include calc(width, "90%");
  max-width: 1200px;
  position: relative;
}

.a-block {
  display: block;
  position: relative;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }
}

.layout-one-column-grid {
  float: left; 
  @include calc(width, "25% - 18px");
  margin-right: 24px;
}

.layout-two-column-grid {
  float: left;
   @include calc(width, "50% - 14px");
}

.layout-three-column-grid {
  float: left;
  height: 20px;
  @include calc(width, "75% - 14px");
}

.layout-column-right {
  margin-right: 0px;
  float: right;
}

.layout-clear {
  clear: both;
}

.layout-clear-top {
  margin-top: 130px;
  display: block;
}