// ==========================================================================
//
// Links
//
//

.link-get-directions {
	font-family: "Times new roman";
	font-size: 0.8em;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 21px 0;
	@include transition(all, 0.3s, ease-in-out);

	&:hover {
		color: #fff;
	}
}

.link-back-to-all {
	display: block;
	font-size: 0.9em;
	height: 50px;
	width: 140px;
	top: 0;
	right: 0;
	position: fixed;
	text-decoration: none;
	color: #fff;
	&:hover {
		color: #fff;
	}

	&:after {
		content: "";
		display: block;
		width: 25px;
		height: 25px;
		position: absolute;
		top: 3px;
		right: 0;
		background-image: url(asset-path('exit_icon.svg'));
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
}

.link-hero-twitter {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	padding: 50px 0px 5px 0px;
	font-family: 'Times new roman'
}

.link-expanded-email {
	font-size: 0.95em;
	color: $colour_lightestgrey;
	text-decoration: none;
	display: block;
	padding: 1px 0;
	font-family: "Times new roman, serif";
	@include transition(all, 0.3s, ease-in-out);

	&:hover {
		color: #fff;
	}
}

.link-switch-dataset {
	color: $colour_lightestgrey;
	font-size: 0.8em;
	display: block;
	text-decoration: none;
	padding: 2px 0;
	position: relative;
	text-align: right;

	&:hover {
		color: #fff;
	}
}

.link-switch-dataset.dataset--active:after {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	top: 12px;
	right: -10px;
}