// ==========================================================================
//
// Typography
//
//

$main_font: cinetype, sans-serif;

$base_font_size: 18px;

@include font-face(cinetype, 'GT-Cinetype-Regular', 300);

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 200;
  position: relative;
}

h1 {
    font-size: 4.6875em;
    line-height: 0.96em;
    font-weight: normal;
}

h2 {
    color: #fff;
    font-size: 2.5em;
    line-height: 1.2em;
}

h3 {
    font-size: 2em;
    line-height: 1.125em;
    color: $colour_lightgrey;

    &.backend-project-link a {  
      color: $colour_dark;
      text-decoration: none;
      border-bottom: 2px solid $colour_dark;
      margin-bottom: 25px;
    }
}

h4 {
    color: $colour_dark;
    font-size: 1.875em;
    line-height: 1.2em;
    padding-bottom: 18px;
    color: $colour_lightestgrey;

    &.expanded-project-name {
      font-size: 1.4em;
      color: $colour_lightestgrey;
    }

    &.backend-project-designer {
      font-size: 1.2em;
      color: $colour_midgrey;
      margin-bottom: 20px;
      padding: 25px 0px 0px 0px;
    }
}

h5 {
    font-size: 1.25em;
    line-height: 1.2em;

    &.expanded-designer-name {
      font-size: 0.9em;
      color:$colour_lightgrey;
    }

    &.type-data-title {
      color: #fff;
      font-size: 0.9em;
      text-align: right;
      display: block;
      padding: 2px 0 5px 0;
    }
}

p {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;

  a {
    @include transition(all, 0.4s, ease-in-out);

    &:hover {
    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  .side-matter-ref {
      border: none;

    sup {
      font-size: 0.6em;
      margin-left: 0;
    }
  }

  &.expanded-project-description {
    color: $colour_lightestgrey;
    width: 70%;
    margin-left: 90px;
    font-family: "Times new roman";
    font-size: 1em;
    margin-top: 0;
    line-height: 1.6em;
    padding-bottom: 10px;
    margin-top: 100px;
    display: block;
    clear: both;
  }

  &.type-hero {
    color: #fff;
    font-size: 0.95em;
    font-family: "Times new roman";
    margin-top: 0;
    line-height: 1.5em;
    padding-bottom: 10px;
  }

  &.type-smallest {
    color: $colour_lightestgrey;
    font-size: 1.1em;
    margin-top: 0;
    line-height: 1.8em;
    padding-bottom: 10px;
  }

  &.type-large-full {
    width: 100%;
    font-size: 1.875em;
    color: $colour_lightestgrey;
    text-align: left;
    padding-bottom: 25px;
  }

  &.backend-project-description {
    width: 100%;
    font-size: 1em;
    color: $colour_midgrey;
    padding: 0px;
    margin-bottom: 0px;
  }
}

span {
  font-weight: 100;

  &.event-date {
    font-family: "Times new roman";
    color: #fff;
    display: block;
    padding: 10px 0 10px 0;
    font-size: 1.3em;
  }

  &.event-details {
    font-family: "Times new roman";
    color: #fff;
    display: block;
    padding: 10px 0px;
    font-size: 0.95em;

    br {
      line-height: 2em;
      padding: 30px;
      display: block;
    }

    &:last-child {
      padding-bottom: 500px;
    }
  }
}


