// ==========================================================================
//
// Typography
//
//

$main_font: cinetype, sans-serif;
$mono_font: cinetype-mono, sans-serif;

$base_font_size: 18px;

@include font-face(cinetype, 'fonts/GT-Cinetype-Trial-Regular-webfont', 300);
@include font-face(sectra, 'fonts/GT-sectra-Bold-trial-webfont', 300);
@include font-face(cinetype-mono, 'fonts/GT-Cinetype-Trial-Mono-webfont', 300);

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 200;
  position: relative;
}

h1 {
    font-size: 4.6875em;
    line-height: 0.96em;
    font-weight: normal;
}

h2 {
    color: #fff;
    font-size: 2.5em;
    line-height: 1.2em;
}

h3 {
    font-size: 2em;
    line-height: 1.125em;
    color: $colour_lightgrey;

    &.section-title {
      padding-top: 75px;
      padding-bottom: 0px;
      text-align: center;
      color: $colour_lightgrey;
      position: relative;

      &:after {
        content: "03";
        display: inline;
        font-size: 10px;
        letter-spacing: 1px;
        color: #fff;
        vertical-align: 60%;
        padding-right: 10px;
      }
    }

    &.section-title.absolute {
      padding-top:40px;
      position: absolute;
      top: 0;
      z-index: 10000;
      color: #fff;
      width: 100%;

      &:after {
        content: "04";
      }
    }

    &.backend-project-link a {  
      color: $colour_dark;
      text-decoration: none;
      border-bottom: 2px solid $colour_dark;
      margin-bottom: 25px;
    }
}

h4 {
    color: $colour_dark;
    font-size: 1.875em;
    line-height: 1.2em;
    padding-bottom: 18px;
    color: $colour_lightestgrey;

    &.expanded-project-name {
      font-size: 0.9em;
      color: $colour_lightestgrey;
      margin-bottom: 20px;
    }

    &.backend-project-designer {
      font-size: 1.2em;
      color: $colour_midgrey;
      margin-bottom: 20px;
      padding: 25px 0px 0px 0px;
    }
}

h5 {
    font-size: 1.25em;
    line-height: 1.2em;

    &.expanded-designer-name {
      font-size: 0.9em;
      color:$colour_lightgrey;
    }
}

p {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;

  a {
    @include transition(all, 0.4s, ease-in-out);

    &:hover {
    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  .side-matter-ref {
      border: none;

    sup {
      font-size: 0.6em;
      margin-left: 0;
    }
  }

  &.expanded-project-description {
    color: $colour_lightestgrey;
    font-size: 1.25em;
    margin-top: 0;
    line-height: 1.7em;
    padding-bottom: 10px;
  }

  &.type-smallest {
    color: $colour_lightestgrey;
    font-size: 1.1em;
    margin-top: 0;
    line-height: 1.8em;
    padding-bottom: 10px;
  }

  &.type-large-full {
    width: 100%;
    font-size: 1.875em;
    color: $colour_lightestgrey;
    text-align: left;
    padding-bottom: 25px;
  }

  &.backend-project-description {
    width: 100%;
    font-size: 1em;
    color: $colour_midgrey;
    padding: 0px;
    margin-bottom: 0px;
  }
}

span {
  font-weight: 100;
}


