// ==========================================================================
//
// Variables
//
//

$colour_lightestgrey: #e6e3e3;
$colour_lightgrey: #afadaf;
$colour_midgrey: #454345;
$colour_darkgrey: #29282b;
$colour_dark: #151515;

$colour_yellow: #ffdf00;
$colour_red: #f7595d;
$colour_blue: #0000FF;
$colour_orange: #ffac00;
$colour_purple: #cf538f;
$colour_lime: #77b34f;
$colour_green: #70bb60;
$colour_cobalt: #0700ff;
