// ==========================================================================
//
// Articles
//
//

.layout-hero {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;

  @include mq("medium", "max-width") {
      max-height: 625px;
  }
}

.article-data-list {
  width: 180px;
  float: right;
}

.article-manifesto-block {
  display: none;
}

.layout-designers {
  position: relative;
  width: 100%;
  @include calc(height, "100vh - 70px");

  .layout-designer-expanded {
    width: 100%;
    clear: both;
  }

  .layout-designer-list {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;

    .active--project--expand & {
      display: none;
      @include animation(project--out 0.5s forwards);
    }

    .active--project--collapse & {
      @include animation(project--in 1s forwards);
    }
  }

  .layout-designer-expanded {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    clear: both;
    min-height: 100%;
    padding-top: 10px;
    padding-bottom: 25px;
    z-index: -100;

    &.active--project--expand {
      @include animation(project--in 1s forwards);
    }

    &.active--project--collapse {
      @include animation(project--out 1s forwards);
    }
  }
}


