// ==========================================================================
//
// Articles
//
//

.layout-hero {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;

  @include mq("medium", "max-width") {
      height: 625px;
  }

  @include mq("small", "max-width") {
      height: 700px;
  }
}

.article-data-list {
  display: block;
  padding-top: 0;
  margin: 0;
  width: 280px;
  float: right;
  margin-top: 0;

  .list-data-y {
    padding: 0;
  }

  @include mq("medium", "max-width") {
      display: none;
  }
}

.article-manifesto-block {
  display: none;
  padding-top: 12px;
}

.layout-designers {
  position: relative;
  width: 100%;
  @include calc(height, "100vh - 70px");

  .layout-designer-expanded {
    width: 100%;
    clear: both;
  }

  .layout-designer-list {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;

    @include mq("small", "max-width") {
      top: 50px;
    }  

    .active--project--expand & {
      display: none;
      @include animation(project--out 0.5s forwards);
    }

    .active--project--collapse & {
      display: block;
      @include animation(project--in 1s forwards);
    }
  }

  .layout-designer-expanded {
    z-index: 1000000;
    position: absolute;
    top: 0;
    display: none;
    width: 100%;

    min-height: 100%;
    padding-top: 10px;
    padding-bottom: 25px;
    z-index: -100;
    background: black;

    @include mq("small", "max-width") {
      top: 50px;
    }

    .active--project--expand & {
      display: block;
      @include animation(project--in 1s forwards);
    }  

    .active--project--collapse & {
      display: none;
      @include animation(project--out 1s forwards);
    }
  }
}

.layout-description-holder {
    width: 100%;
    min-height: 100%;
    margin-top: 158px;

    @include mq("small", "max-width") {
      margin-top: 50px;
    } 
  }


