// ==========================================================================
//
// Articles
//
//

/* ==========================================================================
   Hero
   ========================================================================== */

.layout-hero {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;

  @include mq("medium", "max-width") {
      max-height: 625px;
  }
}

.layout-designers {
  width: 100%;
  height: 100vh;
  padding-top: 0 50px;

  .layout-designer-expanded {
    width: 100%;
    clear: both;
  }

  .layout-designer-list {
    display: block;
    width: 100%;

    .active--project--expand & {
      display: none;
    }
  }
}

