// ==========================================================================
//
// Buttons
//
//

/* ==========================================================================
   Hero
   ========================================================================== */

.button-menu {
  position: fixed;
  top: 65px;
  left: 70px;
}

.button-menu-trigger {
  text-transform: uppercase;
  color: #fff;
  position: relative;
  text-decoration: none;

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../assets/hamburger_white.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    top: -8px;
    left: -30px;
  }

  .menu--active & {
    color: #fff;

    &:after {
      background-image: url('../assets/hamburger_white.svg');
    }
  }
}

a.expanded-url {
    color: $colour_lightgrey;
    font-size: 0.85em;
    text-decoration: none;
    margin-left: 10px;
    @include transition(all, 0.1s, ease-in-out);

    &:hover {
      color: #fff;
    }
}

a.expanded-email {
    color: $colour_lightgrey;
    font-size: 0.85em;
    text-decoration: none;
    @include transition(all, 0.1s, ease-in-out);

    &:hover {
      color: #fff;
    }
}