// ==========================================================================
//
// Buttons
//
//

a.expanded-url {
    color: $colour_lightgrey;
    font-size: 0.85em;
    text-decoration: none;
    margin-left: 10px;
    @include transition(all, 0.1s, ease-in-out);

    &:hover {
      color: #fff;
    }
}

a.expanded-email {
    color: $colour_lightgrey;
    font-size: 0.85em;
    text-decoration: none;
    @include transition(all, 0.1s, ease-in-out);

    &:hover {
      color: #fff;
    }
}

a.back-to-all {
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
}
