#clock-wrapper {
  margin: 12px auto;
  background: #fff;
  width:60px;
  height:60px;
  padding:2px;
  border-radius: 50%;
}
 
#clock {
  border-radius: 50%;
  background: #fff;
  width: 60px;
  height: 60px;
  position: relative;
  background-image: url('../img/clock-background.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

#centerPoint{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: $colour_orange;
  position: absolute;
  left: 28px;
  top: 28px;
  z-index:100;
}
        
#sec {
  display: block;
  position: absolute;
  width: 1px;
  height: 24px;
  top: 6px;
  left: 30px;
  background: $colour_orange;
  @include transform-origin(50% 24.5px);
  z-index: 3;
}

#sec:before {
  display: block;
  content: '';
  position: absolute;
  bottom: -5px;
  left: -1px;
  background: $colour_orange;
  height: 8px;
  width: 3px;
  @include border-radius(5px);
  z-index: 50;
}
      
#min {
  position: absolute;
  background: $colour_midgrey;
  height: 22px;
  width: 1px;
  left: 30px;
  top: 8px;
  @include transform-origin(50% 22px);
  z-index: 2;
}
           
#hour {
  position: absolute;
  background: $colour_midgrey;
  height: 17px;
  width: 2px;
  left: 29px;
  top: 13px;
  @include transform-origin(50% 17px);
  z-index: 1;
}       


