// ==========================================================================
//
// Header
//
//

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;

	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 150px;
		@include background-image(linear-gradient(black  0%, transparent 100%));
	}	
}