// ==========================================================================
//
// Images
//
//

.image-projects {
  padding: 25px 0;
  display: block;
}

img {
	position: absolute;
	top: 0;
	left: 0;
}

.image-hero-container {
	display: block;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	display: block;
	width: 800px;

	img {
		width: 100%;
	}

	@include mq("medium", "max-width") {
      display: none;
  	}
}

.img_wrapper img{
    opacity: 0;
    @include transition(all, 0.4s, ease-in-out);
}

.img_wrapper.loaded img {
    opacity: 1;
}
