// ==========================================================================
//
// Lists
//
//

ul.list-all-designers {
  color: #fff;
  font-weight: 100;
  padding: 0 0 50px 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 13px 0px;
    position: relative;
    cursor: pointer;
    

    &:hover > .list-designer-name  {
      opacity: 0;
    }

     &:hover > .list-project-name  {
      opacity: 1;
    }

    a {
      margin: 0;
      padding: 0;
      position: relative;
      display: inline;
      top: 0;
      outline: 0;
      font-size: 0.9em;
      @include transition(all, 0.5s, ease-in-out);
    }

    .list-number {
      color: #fff;
      font-size: 0.9em;
      top: 17px;
      font-family: "Times New Roman";
      font-style: italic;
      position: absolute;
      left: 0px;
    }

    .list-designer-name {
      color: #fff;
      left: 35px;
    }

    .list-project-name {
      color: #fff;
      position: absolute;
      top: 15px;
      left: 35px;
      opacity: 0;
    }
  }
}