// ==========================================================================
//
// Menu
//
//

.menu-container {
  width: 280px;
  display: block;
  margin: 0 auto;
  margin-top: 150px;
}

ul.menu-items {

}

li.menu-item {
  list-style-type: none;
  display: block;
}

span.menu-superscript {
  color: $colour_lightgrey;
  font-size: 0.6em;
  display: block;

}

a.menu-item-link {
  clear: both;
  color: $colour_lightestgrey;
  font-size: 2.4em;
  text-decoration: none;
  margin: 3px 0 32px 15px;
  display: block;
}